extends layout

block content
  include ./static_content/navbar
  
  .ma-content-area
    #ma-home.ma-hero.ma-home-hero
      .container.ma-hero-container
        .row.ma-hero-content
          .ma-ds-table
            .ma-ds-table-cell
              .col-md-7.ma-hero-left.hidden-sm.hidden-xs
                .ma-hero-image
                  img(src="/images/index.png" width="100%")
              .col-md-5.ma-hero-right
                .ma-hero-text
                  h1.margin-bottom-30 Welcome to Mobile-Age
                  button(type="button" class="ma-button") Sign in as Developer
                  .ma-separator OR
                  button(type="button" class="ma-button") Sign in as Open Data Provider
                  hr
                  p.margin-top-10 Don't have an account?
                  a Register Now
                  
  include ./static_content/footer
    
