extends layout

block content
  .ma-content-area.ma-colored.ma-top-80.ma-bottom-80.ma-height-100(ng-controller="SignUpCtrl as signUpCtrl")
    section.ma-section#ma-signup
      .container.ma-signup-container
        .row
          .col-md-5.col-sm-4.col-xs-12
            .ma-signup-infobox
              .ma-signup-infobox-container
                p 
                  strong Mobile Age Platform 
                  | sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                h4.margin-bottom-20 
                  strong Create a new account
                .ma-signup-button
                  a(class="ma-button ma-button-xs" title="Sign up as developer" href="/signUp/developer")
                    span(class="fa fa-user")
                    span(class="fa fa-code")
                span OR
                .ma-signup-button
                  a(class="ma-button ma-button-xs" title="Sign up as ODP" href="/signUp/odp")
                    span(class="fa fa-user")
                    span(class="fa fa-database")
          .col-md-6.col-sm-8.col-xs-12(ng-if="'#{ signUpAs }' === 'developer'")
            .ma-signup-form-container
              .ma-signup-form-content
                h1.margin-bottom-30 Sign Up As Developer
                form(action="" method="post" name="signup-form" role="form")
                  if message
                    .alert.alert-danger.ma-alert
                      p.margin-bottom-5 Validation errors exist:
                      ul
                        for error in message
                          li!= error.msg
                  .form-group.text-left.ma-relative-pos
                    label 
                      i(class="fa fa-user ma-signup-icon") 
                      | Username
                    input(type="text" class="form-control" name="username")
                  .form-group.text-left.ma-relative-pos
                    label 
                      i(class="fa fa-envelope ma-signup-icon") 
                      | Email
                    input(type="text" class="form-control" name="username")
                  .form-group.text-left
                    label 
                      i(class="fa fa-lock ma-signup-icon")
                      | Password  
                    input(type="password" class="form-control" name="password")
                  .form-group.text-left
                    label Confirm Password
                    input(type="password" class="form-control" name="passwordConfirm")
                  .form-group
                    input(type="submit" class="ma-button margin-top-20" value="Sign Up")
              .ma-signup-form-footer
                p.no-margin Already have an account? 
                  a(href="/developers/signIn") Sign In
          .col-md-6.col-sm-8.col-xs-12(ng-if="'#{signUpAs}' === 'odp'")
            .ma-signup-form-container
              .ma-signup-form-content
                h1.margin-bottom-30 Sign Up As ODP
                form(action="" method="post" name="signup-form" role="form")
                  if message
                    .alert.alert-danger.ma-alert
                      p.margin-bottom-5 Validation errors exist:
                      ul
                        for error in message
                          li!= error.msg
                  .form-group.text-left.ma-relative-pos
                    label 
                      i(class="fa fa-user ma-signup-icon") 
                      | Username
                    input(type="text" class="form-control" name="username")
                  .form-group.text-left.ma-relative-pos
                    label 
                      i(class="fa fa-envelope ma-signup-icon") 
                      | Email
                    input(type="text" class="form-control" name="username")
                  .form-group.text-left
                    label 
                      i(class="fa fa-lock ma-signup-icon")
                      | Password  
                    input(type="password" class="form-control" name="password")
                  .form-group.text-left
                    label Confirm Password
                    input(type="password" class="form-control" name="passwordConfirm")
                  .form-group.text-left
                    label Organization
                    input(type="text" class="form-control" name="organization")
                  .form-group.text-left
                    label Area of Interest
                    input(type="text" class="form-control" name="areaOfInterest")
                  .form-group
                    input(type="submit" class="ma-button margin-top-20" value="Sign Up")
              .ma-signup-form-footer
                p.no-margin Already have an account? 
                  a(href="/odps/signIn") Sign In
                        
                  
