
/* seaf.css */

/*--------------------------------------------------------------
* >>> TABLE OF CONTENTS:
*--------------------------------------------------------------
* 1.0 - Basic Structure
* 2.0 - Navigations
*   2.1 - Links
*   2.2 - Menus
* 3.0 - Header
* 4.0 - Main Content
*    4.1 - Home
* 5.0 - Footer
* 6.0 - Error Pages
* 7.0 - Media Queries


/*-----------------------------------------------------------------------------
* 1.0 Basic Structure
* -----------------------------------------------------------------------------
*/
.ma-ds-table {
  width: 100%;
  height: 100%;
  display: table;
}

.ma-ds-table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.ma-button {
  min-width: 200px;
  margin: 0 5px 10px;
  padding: 10px 15px;
  display: inline-block;
  background-color: #469AAF;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid rgba(45,81,91, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ma-button:hover,
.ma-button:focus,
.ma-button:active,
.ma-button:visited {
  background-color: #469AAF;
  color: #FFFFFF;
  text-decoration: none;
}

.ma-button-default {
  background-color: #DDDDDD;
  border-bottom: 2px solid rgba(50,50,50,0.3);
  color: #525252;
}

.ma-button-xs {
  min-width: auto;
  padding: 5px 8px;
  font-size: 13px;
}

.ma-width-100 {
  width: 100%;
}

.ma-height-100 {
  width: 100%;
}


/*-----------------------------------------------------------------------------
* 2.0 Navigations
* -----------------------------------------------------------------------------
*/

/*-------------------------------------
 * 2.1 Links
 *-----------------------------------*/



/*-------------------------------------
 * 2.2 Menus
 *-----------------------------------*/

 #ma-main-nav.navbar {
   min-height: 80px;
   margin: 0;
   padding: 0 5px;
   border: none;
   box-shadow: 0px 1px 10px 0px rgba(50,50,50,0.4);
 }

 #ma-main-nav.navbar-default {
   background-color: #FFFFFF;
 }

 #ma-main-nav .navbar-toggle {
   margin: 23px 15px 23px 0;
   background-color: #525252;
   border-radius: 0;
 }

 #ma-main-nav .navbar-toggle .icon-bar {
   background-color: #FFFFFF;
 }

 #ma-main-nav .navbar-nav {
   padding: 5px 15px;
 }

 #ma-main-nav .navbar-right {
   margin-right: 0 !important;
 }

 #ma-main-nav .navbar-header {
   padding-left: 15px;
 }

 #ma-main-nav .navbar-brand {
   height: auto;
   padding: 20px 15px;
   display: block;
   float: left;
 }

 #ma-main-nav .navbar-nav > li > a {
   color: #525252;
 }

 #ma-main-nav .ma-dev-settings {
   padding: 10px 20px;
   position: relative;
   float: right;
   text-align: center;
 }

 #ma-main-nav .ma-dev-settings a {
   color: #525252;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }

 #ma-main-nav .ma-dev-settings a:hover {
   text-decoration: none;
   opacity: 0.8;
 }

 #ma-main-nav .dropdown-menu {
   right: 20px;
   left: auto;
   background-color: #525252;
   border-radius: 0;
   border: none;
 }

 #ma-main-nav .dropdown-menu > li {
   border-top: 1px solid #666666;
 }

 #ma-main-nav .dropdown-menu > li:first-child {
   border-top: none;
 }

 #ma-main-nav .dropdown-menu > li > a {
   padding: 5px 10px;
   color: #FFFFFF;
 }

 #ma-main-nav .dropdown-menu > li > a:hover {
   background-color: inherit;
   color: #FFFFFF;
 }

 #ma-main-nav .ma-dev-settings > a > i {
   font-size: 40px;
   line-height: 40px;
 }

 #ma-main-nav .ma-dev-settings:before {
   content: "";
   width: 8px;
   height: 8px;
   margin-left: -4px;
   position: absolute;
   top: 24px;
   left: 50%;
   background-color: #469AAF;
   border-radius: 5px;
   animation-name: blink;
   animation-duration: 3s;
   animation-iteration-count: infinite;
 }

 /* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    0%   {background-color:#469AAF;}
    50%  {background-color:#FFFFFF;}
    100% {background-color:#469AAF;}
}

/* Standard syntax */
@keyframes blink {
    0%   {background-color:#469AAF;}
    50%  {background-color:#FFFFFF;}
    100% {background-color:#469AAF;}
}

 #ma-main-nav .ma-dev-settings .name {
   padding: 0;
   display: block;
   font-size: 13px;
   line-height: 16px;
 }


/*-----------------------------------------------------------------------------
* 3.0 Header
* -----------------------------------------------------------------------------
*/
#ma-header {
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 9998;
}

#ma-header-container {
}


/*-----------------------------------------------------------------------------
* 4.0 Main Content
* -----------------------------------------------------------------------------
*/
.ma-content-area {
  position: relative;
}

.ma-content-area.ma-top-80 {
  padding-top: 80px;
}

.ma-content-area.ma-colored {
  background-color: #469AAF;
}

.ma-content-area.ma-bottom-80 {
  padding-bottom: 80px;
}

.ma-content-area.ma-height-100 {
  min-height: 100vh;
}

.ma-section {
  margin: 0;
  padding: 80px 0;
  position: relative;
  text-align: center;
}

.ma-alert {
  padding: 10px 25px;
}

.ma-alert ul li {
  padding: 2px 5px;
  text-align: left;
  list-style: square;
}

.nav-tabs.ma-nav-tabs {
  border-bottom: 4px solid #469AAF;
}

.nav-tabs.ma-nav-tabs li {
  margin-bottom: 0;
  padding: 0;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.nav-tabs.ma-nav-tabs li a {
  margin: 0;
  border: none;
  transition: all 0.4s ease;
}

.nav-tabs.ma-nav-tabs li.active a,
.nav-tabs.ma-nav-tabs li:hover a,
.nav-tabs.ma-nav-tabs li.active:hover a,
.nav-tabs.ma-nav-tabs li:focus a {
  background-color: #469AAF;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
}

/*-------------------------------------
 * 4.1 Home
 *-----------------------------------*/
 .ma-home-hero {
   width: 100%;
   margin: 0;
   padding: 0;
   position: relative;
   background-color: #469AAF;
 }

 .ma-home-hero .ma-hero-container {
   height: 100vh;
   overflow: hidden;
 }

 .ma-home-hero .ma-hero-content {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   position: relative;
   z-index: 1;
 }

 .ma-hero-image,
 .ma-hero-text {
   margin: 0 15px;
 }

 .ma-hero-text {
   background-color: #F9F6F7;
   box-shadow: 1px 4px 8px rgba(0,0,0,0.4);
 }

 .ma-hero-text-content {
   padding: 60px 25px 40px;
 }

 .ma-hero-text-footer {
   padding: 20px 25px;
   background-color: #DDDDDD;
   border-top: 1px solid #D0D0D0;
 }

 .ma-hero-text .ma-separator {
   width: 30px;
   height: 30px;
   margin: 10px auto 20px;
   position: relative;
   background-color: #D0D0D0;
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 600;
   line-height: 30px;
   border-radius: 50px;
 }

 .ma-hero-text .ma-separator::before {
   content: "";
   width: 30px;
   height: 1px;
   position: absolute;
   top: 15px;
   left: -120%;
   background-color: #D0D0D0;
 }

 .ma-hero-text .ma-separator::after {
   content: "";
   width: 30px;
   height: 1px;
   position: absolute;
   top: 15px;
   right: -120%;
   background-color: #D0D0D0;
 }

 /*-------------------------------------
  * 4.2 Sign In
  *-----------------------------------*/
  #ma-signin {
    width: 100%;
    height: 100%;
  }

  #ma-signin .ma-signin-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  #ma-signin .ma-signin-form-container {
    max-width: 480px;
    margin: 0 auto;
    background-color: #F9F6F7;
    box-shadow: 1px 4px 8px rgba(0,0,0,0.4);
  }

  .ma-signin-form-content {
    padding: 60px 25px 40px;
  }

  .ma-signin-form-footer {
    padding: 20px 25px;
    background-color: #DDDDDD;
    border-top: 1px solid #D0D0D0;
  }

  #ma-signin form .form-group {
    position: relative;
  }

  #ma-signin .ma-signin-icon {
    width: 30px;
    height: 30px;
    padding: 7px 7px;
    position: absolute;
    left: -55px;
    top: 24px;
    background-color: #525252;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
  }

  /*-------------------------------------
   * 4.3 Dashboard
   *-----------------------------------*/
  .ma-dashboard {
    min-height: 100vh;
    padding: 0;
    position: relative;
    background-color: #DDDDDD;
  }

  .ma-dashboard  .ma-dashboard-sidebar {
    width: 200px;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #469AAF;
  }

  .ma-dashboard-sidebar h2 {
    margin: 0;
    padding: 15px 10px;
    background-color: #525252;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }

  .ma-dashboard-sidebar .nav-pills li {
    margin: 0;
    padding: 0;
    background-color: #469AAF;
    border-bottom: 1px solid #7FBDCC;
  }

  .ma-dashboard-sidebar .nav-pills li a {
    padding: 20px 10px;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 0;
  }

  .ma-dashboard-sidebar .nav-pills li.active a,
  .ma-dashboard-sidebar .nav-pills li.active:hover a,
  .ma-dashboard-sidebar .nav-pills li:hover a {
    background-color: #3A8092;
    color: #FFFFFF;
  }

  .ma-dashboard-sidebar .nav-pills li a .title {
    margin-top: 5px;
    display: block;
    font-size: 13px;
    text-align: center;
  }

  .ma-dashboard  .ma-dashboard-content {
    margin-left: 230px;
    padding: 0 40px;
  }

  .ma-dashboard  .ma-dashboard-content .tab-content {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
  }

  .ma-dashboard  .ma-dashboard-content > .tab-content {
    background-color: transparent;
    border: none;
  }

  .ma-dashboard .ma-container-config .ma-container-config-header {
    padding-bottom: 40px;
    border-bottom: 4px double #525252;
  }

  .ma-dashboard .ma-container-config .ma-container-config-content {
    padding-top: 40px;
    position: relative;
  }

  .ma-dashboard .ma-container-config .ma-container-config-content::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #525252;
  }

  .ma-dashboard .ma-container-config .ma-container-config-content ul {
    list-style: none;
  }

  .ma-dashboard .ma-container-config .ma-container-config-content ul li {
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 25px 30px;
    float: left;
    font-size: 32px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.23);
  }

  .ma-dashboard .ma-container-config .ma-container-config-content ul li h4 {
    margin-bottom: 20px;
  }

  .ma-dashboard .ma-container-config .ma-container-config-content ul li button {
    margin: 25px auto 0;
    display: block;
  }


/*-----------------------------------------------------------------------------
* 5.0  Footer
* -----------------------------------------------------------------------------
*/
#ma-footer {
  width: 100%;
  height: 80px;
  padding: 20px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
  font-size: 13px;
  line-height: 19px;
  border-top: 1px solid #D0D0D0;
  z-index: 999;
}

#ma-footer img {
  margin-right: 12px;
  float: left;
}


/*-----------------------------------------------------------------------------
* 6.0 Error Pages
* -----------------------------------------------------------------------------
*/



/*-----------------------------------------------------------------------------
* 7.0 Media Queries
* -----------------------------------------------------------------------------
*/

@media (min-aspect-ratio: 16/9) {

}

@media (max-aspect-ratio: 16/9) {

}

/*-------------------------------------
 * 7.1 Mobile First Queries
 *-----------------------------------*/

/* Custom, iPhone Retina */
@media (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media (min-width : 480px) {

}

/* Small Devices, Tablets */
@media (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {

}

@media (min-width : 1440px) {

}

/* Extra Large Devices */
@media (min-width : 1600px) {

}

/*-------------------------------------
 * 7.2 Non Mobile First Queries
 *-----------------------------------*/

/* Extra Large Devices */
@media (max-width: 1599px) {

}

@media (max-width: 1439px) {

}

/* Large Devices, Wide Screens */
@media (max-width : 1199px) {

}

/* Medium Devices, Desktops */
@media (max-width : 991px) {

}

/* Small Devices, Tablets */
@media (max-width : 767px) {

  .ma-dashboard  .ma-dashboard-sidebar {
    min-height: auto;
  }

  .ma-dashboard-sidebar h2 {
    text-align: center;
  }

}

/* Extra Small Devices, Phones */
@media (max-width : 480px) {

  .ma-dashboard  .ma-dashboard-sidebar {
    width: 80px;
  }

  .ma-dashboard  .ma-dashboard-content {
    margin-left: 80px;
  }

}

/* Custom, iPhone Retina */
@media (max-width : 320px) {

}
