extends ../layout

block content

    label(for='sel1') Select preconfigured container (select one):
    select#sel1.form-control
        option container 1
        option container 2
        option container 3
        option container 4
    
    form(action='/containers/deploy?containerId=sampleId', method='post')
        button.btn.btn-primary(type='submit') Deploy Selected Container
        