extends ../layout

block content

    label(for='sel1') Select preconfigured container (select one):
    select#sel1.form-control
        option container 1
        option container 2
        option container 3
        option container 4

    button.btn.btn-primary(type='button', onclick='deploy_container($("#sel1 option:selected").text())') Deploy Selected Container
        