extends ../layout

block content
  .ma-content-area.ma-top-80.ma-bottom-80(ng-controller="DevDashboardCtrl as devDashboardCtrl")
    section.ma-section.ma-dashboard
      .fluid-container.ma-height-100
        .row.ma-height-100
          .ma-dashboard-sidebar
            h2 
              i(class="fa fa-cog")
              |  Dashboard
            ul(class="nav nav-pills nav-stacked")
              li.active
                a(data-toggle="tab" href="#tab1")
                  i(class="fa fa-file-code-o" aria-hidden="true")
                  span.title My App
              li
                a(data-toggle="tab" href="#tab2")
                  i(class="fa fa-cogs" aria-hidden="true")
                  span.title Services
              li
                a(data-toggle="tab" href="#tab3")
                  i(class="fa fa-tablet" aria-hidden="true")
                  span.title Front Ends
              li
                a(data-toggle="tab" href="#tab4")
                  i(class="fa fa-database" aria-hidden="true")
                  span.title Open Data
          .ma-dashboard-content
            .tab-content
              div(id="tab1" class="tab-pane fade in active")
                  ul(class="nav nav-tabs ma-nav-tabs")
                    li.active
                      a(data-toggle="tab" href="#1") My Container
                    li
                      a(data-toggle="tab" href="#2") Source Code
                    li
                      a(data-toggle="tab" href="#3") Activity
                    li
                      a(data-toggle="tab" href="#4") Logs
                  .tab-content
                    div(id="1" class="tab-pane fade in active")
                      .ma-container-config
                        .ma-container-config-header
                          .row.clearfix
                            form(action="/containers/deploy?containerId=sampleId" method="post")
                              .col-md-6
                                .form-group.text-left 
                                  label Select preconfigured container (select one):
                                  select#sel1.form-control
                                    option(disabled='', selected='', value='') -- Select among the available images --  
                                    option(ng-repeat="option in devDashboardCtrl.images") {{ option.repo }} : {{ option.tag }}
                              .col-md-6
                                button(type="submit" class="ma-button margin-top-20") Deploy Container
                        .ma-container-config-content
                          .row
                            .col-md-12.padding-top-20.padding-bottom-20.text-left
                              h3 Operating System
                              ul.margin-top-20.clearfix
                               li 
                                h4 Ubuntu
                                img(src="/images/ubuntu.png" height="70")
                                button(popover-animation="true" uib-popover="{{ devDashboardCtrl.one() }}" type="button" class="ma-button ma-button-xs") More info
                            .col-md-12.padding-top-20.padding-bottom-20.text-left
                              h3 Development Tools
                              ul.margin-top-20.clearfix
                                li 
                                  h4 Java
                                  img(src="/images/java.png" height="70")
                                  button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                                li 
                                  h4 NodeJS
                                  img(src="/images/nodejs.png" height="70")
                                  button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                                li 
                                  h4 PHP
                                  img(src="/images/php.png" height="70")
                                  button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                    div(id="2" class="tab-pane fade")
                      h3 Source code
                    div(id="3" class="tab-pane fade")
                      h3 Activity
                    div(id="4" class="tab-pane fade")
                      h3 Logs
              div(id="tab2" class="tab-pane fade")
                h3 Services
              div(id="tab3" class="tab-pane fade")
                h3 Front ends
              div(id="tab4" class="tab-pane fade")
                h3 Open Data
