extends ../layout

block content
  .ma-content-area.ma-top-80.ma-bottom-80(ng-controller="DevDashboardCtrl as devDashboardCtrl")
    section.ma-section.ma-dashboard
      .fluid-container.ma-height-100
        .row.ma-height-100
          .ma-dashboard-sidebar
            h2 Dashboard
            ul(class="nav nav-pills nav-stacked")
              li.dropdown.ma-sidebar-section-title
                a(class="dropdown-toggle" data-toggle="dropdown")
                  h5 My Applications
                ul.dropdown-menu(ng-if="devDashboardCtrl.applications.length > 0")
                  li(ng-repeat="app in devDashboardCtrl.applications")
                    a(data-toggle="tab" href="#tab1" ng-click="devDashboardCtrl.setCurrentApp(app.id);") {{ app.name }}
              li
                a(data-toggle="tab" href="#tab1" ng-click="devDashboardCtrl.setCurrentApp(-1);")
                  i(class="fa fa-plus" aria-hidden="true")
                  span.title New Application
              li.padding-bottom-60
              li.ma-sidebar-section-title
                a
                  h5 Platform key features
              li
                a(data-toggle="tab" href="#tab2")
                  i(class="fa fa-cogs" aria-hidden="true")
                  span.title Services
              li
                a(data-toggle="tab" href="#tab3")
                  i(class="fa fa-tablet" aria-hidden="true")
                  span.title Front Ends
              li
                a(data-toggle="tab" href="#tab4")
                  i(class="fa fa-database" aria-hidden="true")
                  span.title Open Data
          .ma-dashboard-content
            .tab-content
              div(id="tab1" class="tab-pane fade in active" ng-if="devDashboardCtrl.currentAppIdx === -1")
                h2.margin-bottom-20.text-left Add New Application
                .tab-content
                  .row.clearfix
                    form.form-horizontal(name="add_app")
                      .col-md-6
                        .text-left 
                          label Application Name
                        input.form-control(type="text" name="app_name" placeholder="my_application_name" ng-model="devDashboardCtrl.appName" ng-required="true")
                      .col-md-6
                        button(type="submit" class="ma-button margin-top-20" ng-click="devDashboardCtrl.addApplication()") Add Application
                  .row.clearfix
                    .alert.alert-danger.ma-alert(ng-show="add_app.app_name.$error.required && add_app.$dirty")
                      p The application name cannot be empty!
              div(id="tab1" class="tab-pane fade in active" ng-if="devDashboardCtrl.currentAppIdx !== -1")
                h2.margin-bottom-20.text-left {{ devDashboardCtrl.getAppNameById(devDashboardCtrl.currentAppIdx) }}
                ul(class="nav nav-tabs ma-nav-tabs")
                  li.active
                    a(data-toggle="tab" href="#1") My Container
                  li
                    a(data-toggle="tab" href="#2") Source Code
                  li
                    a(data-toggle="tab" href="#3") Activity
                  li
                    a(data-toggle="tab" href="#4") Logs
                .tab-content
                  div(id="1" class="tab-pane fade in active" ng-if="!devDashboardCtrl.container")
                    .ma-container-config
                      .ma-container-config-header
                        .row.clearfix
                          form.form-l Select preconfigured container (select one):
                                select#sel1.form-control
                                  option(disabled='', selected='', value='') -- Select among the available images --  
                                  option(ng-repeat="option in devDashboardCtrl.images", value='{{ option.repo }}:{{ option.tag }}') {{ option.repo }} : {{ option.tag }}
                            .col-md-6
                              button(type="submit" class="ma-button margin-top-20" ng-click="devDashboardCtrl.deployContainer()") Deploy Container
                      .ma-container-config-content
                        .row
                          .col-md-12.padding-top-20.padding-bottom-20.text-left
                            h3 Operating System
                            ul.margin-top-20.clearfix
                             li 
                              h4 Ubuntu
                              img(src="/images/ubuntu.png" height="70")
                              button(popover-animation="true" uib-popover="{{ devDashboardCtrl.one() }}" type="button" class="ma-button ma-button-xs") More info
                          .col-md-12.padding-top-20.padding-bottom-20.text-left
                            h3 Development Tools
                            ul.margin-top-20.clearfix
                              li 
                                h4 Java
                                img(src="/images/java.png" height="70")
                                button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                              li 
                                h4 NodeJS
                                img(src="/images/nodejs.png" height="70")
                                button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                              li 
                                h4 PHP
                                img(src="/images/php.png" height="70")
                                button(popover-animation="true" uib-popover="{{ devDashboardCtrl.info }}" type="button" class="ma-button ma-button-xs") More info
                  div(id="1" class="tab-pane fade in active" ng-if="devDashboardCtrl.container")
                    .ma-container-overview
                      .ma-container-overview-header.text-left
                        h2 My Container
                      .ma-container-config-content
                        .row
                          .col-md-10.col-sm-9.padding-top-20.padding-bottom-20.text-left
                            .col-md-12.padding-top-20.padding-bottom-20.text-left
                              h3 Container Info
                              p 
                                span Container ID: 
                                {{ devDashboardCtrl.container_info.id }}
                              p 
                                span Image: 
                                {{ devDashboardCtrl.container_info.image }}
                            .col-md-12.padding-top-20.padding-bottom-20.text-left
                              h3 Repository Details
                              p
                                span Path: 
                                {{ devDashboardCtrl.application_info.path_with_namespace }}
                              p
                                span Http URL: 
                                {{ devDashboardCtrl.application_info.http_url_to_repo }}
                              p
                                span Created at: 
                                {{ devDashboardCtrl.application_info.created_at }}
                            .col-md-12.padding-top-20.padding-bottom-20.text-left
                              h3 Activity  
                              p Status: {{ devDashboardCtrl.container_info.active }}
                          .col-md-2.col-sm-3.padding-top-20.padding-bottom-20
                            a(class="ma-button ma-button-xs" ng-click="devDashboardCtrl.startContainer()") 
                              i(class="fa fa-play") 
                              |  Start Container
                            a(class="ma-button ma-button-xs" ng-click="devDashboardCtrl.stopContainer()") 
                              i(class="fa fa-stop")
                              |  Stop Container
                  div(id="2" class="tab-pane fade" nv-file-drop="" uploader="devDashboardCtrl.filesUploader")
                    .ma-sourcecode
                      .ma-sourcecode-header
                        .row
                          .col-xs-12.text-left
                            h2 Upload your source code
                      .ma-sourcecode-content
                        .row
                          .col-xs-12
                            .col-md-7.ma-sourcecode-left-column
                              form.form-horizontal(role="form" name="form")
                                .form-group
                                  .ma-file-upload.ma-button.ma-button-xs.no-margin.pull-left
                                    i(class="glyphicon glyphicon-folder-open")
                                    | Browse
                                    input(type="file" nv-file-select="" uploader="devDashboardCtrl.filesUploader" multiple)
                                .form-group(devDashboardCtrl.filesUploader.isHTML5)
                                  div(class="ma-drop-zone well my-drop-zone" nv-file-over="" uploader="devDashboardCtrl.filesUploader") Drag and drop your source code to be uploaded
                                .form-group(ng-if="devDashboardCtrl.filesUploader.queue.length")
                                  h4 Upload Info
                                  table.table.table-striped.table-hover
                                    thead
                                      tr
                                        th Name
                                        th(ng-show="devDashboardCtrl.filesUploader.isHTML5") Size
                                        th Actions
                                    tbody
                                      tr(ng-repeat="item in devDashboardCtrl.filesUploader.queue")
                                        td {{ item.file.name }}
                                        td(ng-show="devDashboardCtrl.filesUploader.isHTML5" nowrap) {{ item.file.size/1024/1024|number:2 }} MB
                                        td
                                          button(type="button" class="ma-button ma-button-xs" title="Upload" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                            span(class="glyphicon glyphicon-upload")
                                          button(type="button" class="ma-button ma-button-xs" title="Cancel" ng-click="item.cancel()" ng-disabled="!item.isUploading")
                                            span(class="glyphicon glyphicon-ban-circle")
                                          button(type="button" class="ma-button ma-button-xs" title="Remove" ng-click="item.remove()")
                                            span(class="glyphicon glyphicon-trash")
                                .form-group
                                  button(type="submit" class="ma-button ma-button-xs margin-top-20 pull-right") 
                                    i(class="fa fa-upload")
                                    | Upload 
                            .col-md-5.ma-sourcecode-right-column
                              h4 
                                i(class="fa fa-folder-open")
                                |  Working Directory
                              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  div(id="3" class="tab-pane fade")
                    h3 Activity
                  div(id="4" class="tab-pane fade")
                    h3 Logs
              div(id="tab2" class="tab-pane fade")
                h3 Services
              div(id="tab3" class="tab-pane fade")
                h3 Front ends
              div(id="tab4" class="tab-pane fade")
                h3 Open Data
