extends ../layout

block content
    form(action='/developers/authenticate', method='post')
        
        input(type="text", name="username")
        input(type="password")
        input(type="submit", value="Log In as Developer")
        
    if message
        ul
            for error in message
                li!= error.msg