footer#ma-footer
  .container
    .row
      .col-xs-12
          div(class="col-md-6 text-left hidden-sm hidden-xs")
            img(src="/images/flag_eu.jpg" width="56")
            |  This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 693319
          div(class="col-md-6 text-right") 
           | Copyright &copy; 2016 Mobile-Age. All rights reserved.
