head

    meta(charset="UTF-8")
    title Mobile-Age platform

    // CSS included frameworks
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    
    // CSS developed
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // JS included frameworks
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    
    // JS developed
    