header#ma-header
  .container-fluid#ma-header-container
    nav(id="ma-main-nav" class="navbar navbar-default navbar-fixed-top")
      if !login
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(href="/" class="navbar-brand")
            img(src="/images/logo.png" title="Mobile-Age" alt="Mobile-Age" height="36")
            p Open Senior Citizen Public Services Engagement Platform
        #navbar.navbar-nav.navbar-right.navbar-collapse.collapse
          ul(class="nav navbar-nav navbar-right")
            li
              a Platform Overview
            li
              a Documentation
      else
        .navbar-header.ma-width-100
          a(href="/" class="navbar-brand")
            img(src="/images/logo.png" title="Mobile-Age" alt="Mobile-Age" height="40")
            p Open Senior Citizen Public Services Engagement Platform
          .ma-dev-settings
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") 
              i(class="fa fa-tablet no-padding")
              span.name Dev Name
            ul(class="dropdown-menu" role="menu")
              li
                a 
                  i(class="fa fa-cog")
                  |  My Account
              li
                a Menu Item 2
              li
                a Menu Item 3
