header#ma-header
  div
    nav(id='ma-main-nav' class='navbar navbar-default navbar-fixed-top')
      .container
        .navbar-header
          button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand')
            img(alt="Mobile-Age" src="/images/logo.png" width="128")
            h5 OSCPS Engagement Platform
        #navbar.navbar-nav.navbar-right.navbar-collapse.collapse
          ul(class='nav navbar-nav navbar-right')
            li
              a Platform Overview
            li
              a Documentation
